KAFKA_BOOTSTRAP_SERVERS=pkc-xxxx.us-east-1.aws.confluent.cloud:9092
KAFKA_API_KEY=YOUR_KAFKA_API_KEY
KAFKA_API_SECRET=YOUR_KAFKA_API_SECRET
SCHEMA_REGISTRY_URL=https://psrc-xxxx.us-east-1.aws.confluent.cloud
SCHEMA_REGISTRY_API_KEY=YOUR_SCHEMA_REGISTRY_API_KEY
SCHEMA_REGISTRY_API_SECRET=YOUR_SCHEMA_REGISTRY_API_SECRET
